body {
	margin: 0;
	font-family: "montserrat", sans-serif;
	background-color: #e79870;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, menlo, monaco, consolas, "courier new", monospace;
}
